@media screen and (min-width: 480px)  { 
   /*　画面サイズが480pxからはここを読み込む　*/
  body {
    font-family: "Avenir Next";
    width: 100%;
    margin: 0%;
    border: rgb(115, 255, 0) 5px solid;
  }
}

@media screen and (min-width: 768px) and ( max-width:1024px) { 
   /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  body {
    font-family: "Avenir Next";
    width: 100%;
    margin: 0%;
    border: rgb(238, 46, 12) 5px solid;
  }
}

@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  body {
    font-family: "Avenir Next";
    width: 100%;
    margin: 0%;
    border: blue 5px solid;
  }
}

  li {
    list-style: none;

  }
/* ヘッダー　*/
 /*　画面サイズが480pxからはここを読み込む　*/
 @media screen and (min-width: 480px)  { 
  .header{
    background-color:darkgrey;
    height:90px;
    Top:0px;
    Left:0px;
    right: 0px;
    Position:fixed;
    Top:0px;
    Left:0px;
    opacity:0.8;
    
  }

  .header-logo{
    font-size: 15px;
    padding: 25px;
    float: left;
  }

  .header-list{
    float:right;
    
  }

  .header-item{
    color:black;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 17px;
    float: left;
    border-left:1px solid rgb(80, 76, 76);
    width: 90px;
    text-align: center;
    line-height: 90px;
    text-decoration: none;
  }

  .header-item:hover{
    background-color:rgb(230, 205, 172);
    transition:all 0.5s;
  }
 }

 /*　画面サイズが768pxから1024pxまではここを読み込む　*/
@media screen and (min-width:768px) and ( max-width:1024px){
  .header{
    background-color:darkgrey;
    height:90px;
    Top:0px;
    Left:0px;
    right: 0px;
    Position:fixed;
    Top:0px;
    Left:0px;
    opacity:0.8;
    
  }

  .header-logo{
    font-size: 20px;
    padding:20px 0px 20px 5px;
    float: left;
    color:black;
  }

  .header-list{
    float:right;
    
  }

  .header-item{
    color:black;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 17px;
    float: left;
    border-left:1px solid rgb(80, 76, 76);
    width: 90px;
    text-align: center;
    line-height: 90px;
    text-decoration: none;
  }

  .header-item:hover{
    background-color:rgb(230, 205, 172);
    transition:all 0.5s;
  }

}

 

 /*　画面サイズが1024pxからはここを読み込む　*/
@media screen and (min-width:1024px) {
  .header{
    background-color:darkgrey;
    height:90px;
    Top:0px;
    Left:0px;
    right: 0px;
    Position:fixed;
    Top:0px;
    Left:0px;
    opacity:0.8;
    
  }

  .header-logo{
    font-size: 20px;
    padding:20px 40px;
    float: left;
  }

  .header-list{
    float:right;
    
  }

  .header-item{
    color:black;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 20px;
    float: left;
    border-left:1px solid rgb(80, 76, 76);
    width: 130px;
    text-align: center;
    line-height: 90px;
    text-decoration: none;
  }

  .header-item:hover{
    background-color:rgb(230, 205, 172);
    transition:all 0.5s;
  }
}






/* トップ　*/ 

 /*　画面サイズが480pxからはここを読み込む　*/
 @media screen and (min-width:480px) { 
  .top-wrapper{
    background-color:#000808;
    height:600px;
    margin: 0%;
    padding: 0%;
    line-height: 0%;
    width: 100%;
  }

  .top-wrapper h1{
    margin: 0%;
    line-height: 0%;
    color: aliceblue;
    font-family:serif;
    text-align: center;
    padding: 150px 0 20px 0;
    font-size: 22px;
  }

  .top-wrapper p{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 50%;
    font-size: 15px;
  }

  .top-wrapper img{
    display: block;
    width: 400px;
    height: 280px;
    margin: auto;
    margin-top: 30px;
  }
 }

 /*　画面サイズが768pxから1024pxまではここを読み込む　*/
 @media screen and (min-width:768px) and ( max-width:1024px) {
  .top-wrapper{
    background-color:#000808;
    height:700px;
    margin: 0%;
    padding: 0%;
    line-height: 0%;
    width: 100%;
  }

  .top-wrapper h1{
    margin: 0%;
    line-height: 0%;
    color: aliceblue;
    font-family:serif;
    text-align: center;
    padding: 150px 0 20px 0;
    font-size: 30px;
  }

  .top-wrapper p{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 50%;
    font-size: 17px;
  }

  .top-wrapper img{
    display: block;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
  }
 }
   

 /*　画面サイズが1024pxからはここを読み込む　*/
 @media screen and (min-width:1024px) {
  .top-wrapper{
    background-color:#000808;
    height:800px;
    margin: 0%;
    padding: 0%;
    line-height: 0%;
    width: 1445px;
  }

  .top-wrapper h1{
    margin: 0%;
    line-height: 0%;
    color: aliceblue;
    font-family:serif;
    text-align: center;
    padding: 150px 0 20px 0;
    font-size: 30px;
  }

  .top-wrapper p{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 50%;
    font-size: 17px;
  }

  .top-wrapper img{
    display: block;
    width: 600px;
    height: 380px;
    margin: auto;
    margin-top: 30px;
  }
 }

/* スキル　*/
/*　画面サイズが480pxからはここを読み込む　*/
@media screen and (min-width:480px) { 
  .skill-wrapper{
    height: 1200px;
    background-color: antiquewhite;
    width: 100%;
  }

  .heading h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    width: 300px;
    margin:auto;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
  }
  #skill h2{
    border-bottom: 1px solid dimgray;
    width: 300px;
    margin:auto;
    margin-bottom: 10px;
  }

  #skill p{
    text-align: center;
    margin: 0%;
    color:#000808;
    font-size: 14px;
  }
  

  .txt-title{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding: 30px 50px 0px 50px;
    text-align: center;
    margin-bottom: 10px;

  }
  
  .skills{
    width: 60%;
    margin: auto;
    
  }

  .skill{
    margin: auto;
    height: 200px;
    margin: 10px;
    background-color:peru;
    border-radius:10px;
    
  }

  .txt-contents{
    text-align: center;
    width: 300px;
    margin: auto;
    color: rgb(36, 39, 41);
    font-size: 15px;

  }
}

 /*　画面サイズが768pxから1024pxまではここを読み込む　*/
@media screen and (min-width:768px) and ( max-width:1024px) {
  .skill-wrapper{
    height: 1200px;
    background-color: antiquewhite;
    width: 100%;
  }

  .heading h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    width: 300px;
    margin:auto;
    font-size: 50px;
    padding-top: 20px;
    text-align: center;
  }
  #skill h2{
    border-bottom: 1px solid dimgray;
    width: 300px;
    margin:auto;
    margin-bottom: 10px;
  }

  #skill p{
    text-align: center;
    margin: 0%;
    color:#000808;
  }
  

  .txt-title{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding: 30px 50px 0px 50px;
    text-align: center;
    margin-bottom: 10px;

  }
  
  .skills{
    width: 50%;
    margin: auto;
    
  }

  .skill{
    margin: auto;
    height: 230px;
    margin: 10px;
    background-color:peru;
    border-radius:10px;
    
  }

  .txt-contents{
    text-align: center;
    width: 300px;
    margin: auto;
    color: rgb(36, 39, 41);
    font-size: 18px;
  }
}
 

 /*　画面サイズが1024pxからはここを読み込む　*/
@media screen and (min-width:1024px) {
  .skill-wrapper{
    
    height: 600px;
    background-color: antiquewhite;
  }

  .heading h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    width: 300px;
    margin:auto;
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
  }
  #skill h2{
    border-bottom: 1px solid dimgray;
    width: 300px;
    margin:auto;
    margin-bottom: 30px;
  }

  #skill p{
    text-align: center;
    margin: 0%;
    color:#000808;
  }
  

  .txt-title{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding: 40px 50px 15px 50px;
    text-align: center;
    

  }
  
  .skills{
    width: 1430px;
    margin: auto;
  }

  .skill{
    float:left;
    width:23%;
    margin: auto;
    height: 300px;
    margin: 10px;
    background-color:peru;
    border-radius:10px;
    
  }

  .txt-contents{
    text-align: center;
    width: 300px;
    margin: auto;
    color: rgb(36, 39, 41);
    font-size: 19px;
  }
}

/* バックボーン　*/
/*　画面サイズが480pxからはここを読み込む　*/
@media screen and (min-width:480px) { 
  .heading p{
    text-align: center;
    color: seashell;
    }

  #backbone h2{
    color:seashell;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 300px;
    margin:auto;
    }



  .backbone-wrapper{
    height: 970px;
    background-color: rgb(30, 61, 43);
    }
    
  .preface p{
    color:seashell;
    text-align: center;
    margin:0%;
    font-size: 14px;
  }

  .backbone-photo{
    text-align: center;
  }

  .backbone-photo img{
    height: 300px;
    width: 450px;
    padding:10px;    
  }
}

/*　画面サイズが768pxから1024pxまではここを読み込む　*/
@media screen and (min-width:768px) and ( max-width:1024px) {
  .heading p{
    text-align: center;
    color: seashell;
    }

  #backbone h2{
    color:seashell;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 300px;
    margin:auto;
    }



  .backbone-wrapper{
    height: 1050px;
    background-color: rgb(30, 61, 43);
    }
    
  .preface p{
    color:seashell;
    text-align: center;
    margin:0%;
    font-size: 15px;
  }

  .backbone-photo{
    text-align: center;
  }

  .backbone-photo img{
    height: 350px;
    width: 500px;
    padding:10px;    
  }
}

/*　画面サイズが1024pxからはここを読み込む　*/
@media screen and (min-width:1024px) {
  .heading p{
    text-align: center;
    color: seashell;
    }

  #backbone h2{
    color:seashell;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 300px;
    margin:auto;
    }



  .backbone-wrapper{
    height: 700px;
    background-color: rgb(30, 61, 43);
    }
    
  .preface p{
    color:seashell;
    text-align: center;
    margin:0%;
  }

  .backbone-photo{
    display:flex;
    justify-content: center;
  }

  .backbone-photo img{
    height: 350px;
    width: 500px;
    padding:10px;    
  }
}


 /* プライベート　*/ 
 /*　画面サイズが480pxからはここを読み込む　*/
 @media screen and (min-width:480px) {
  .private-wrapper{
    height: 1000px;
    background-color:teal;
  }

  #private h2{
    color:seashell;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 300px;
    margin:auto;
  }

  .private p{
    color:seashell;
    margin: 0%;
    text-align: center;
    font-size: 15px;
  }

  .private-photos{
    text-align: center;
  }

  .private-photo p{
    margin: 0px;
    text-align: center;
    color:seashell; 
    font-size: 15px;
    
  }

  .private-photo img{
   width: 500px;
   height: 300px;
   padding: 10px;

  }
 }

 /*　画面サイズが768pxから1024pxまではここを読み込む　*/
 @media screen and (min-width:768px) and ( max-width:1024px) {
  .private-wrapper{
    height: 1000px;
    background-color:teal;
  }

  #private h2{
    color:seashell;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 300px;
    margin:auto;
  }

  .private p{
    color:seashell;
    margin: 0%;
    text-align: center;
    font-size: 18px;
  }

  .private-photos{
    text-align: center;
  }

  .private-photo p{
    margin: 0px;
    text-align: center;
    color:seashell; 
  }

  .private-photo img{
   width: 500px;
   height: 300px;
   padding: 10px;

  }
 }

 /*　画面サイズが1024pxからはここを読み込む　*/
 @media screen and (min-width:1024px) {
  .private-wrapper{
    height: 700px;
    background-color:teal;
  }

  #private h2{
    color:seashell;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 300px;
    margin:auto;
  }

  .private p{
    color:seashell;
    margin: 0%;
    text-align: center;
    font-size: 18px;
  }

  .private-photos{
    display:flex;
    justify-content: center;
  }

  .private-photo p{
    margin: 0px;
    text-align: center;
    color:seashell; 
    font-size: 18px;
  }

  .private-photo img{
   width: 550px;
   height: 370px;
   padding: 10px;

  }
 }
  /* フッター */

  .footer{
    height: 70px;
    background-color: rgb(167, 167, 167);
  }

  .footer p{
    float: left;
    margin: 0px;
    font-family:monospace;
    font-size: 12px;
    line-height:70px;
    padding-left: 20px;
  }


